
<!DOCTYPE html>
<html lang="en">
<head>

    <title>SÁCH TỐT</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="main.js"></script>
</head>
<body>

    <header>
        <div class="logo">
            <a href="index.html"><img src="img/logo.png" title="SÁCH TỐT" alt="Magnetic" /></a>
        </div><!-- end logo -->

        <div id="menu_icon"></div>
        <nav>
            <ul id="menu">
                
            </ul>
        </nav><!-- end navigation menu -->
        
        <div class="footer clearfix">
            <a style="margin-bottom:10px;" class="btn btn-info btn-fw" href="https://localhost:44347/View/Contact.html" type="button">CONTACT US</a>

            <a style="margin-bottom:10px;" class="btn btn-info btn-fw" href="https://localhost:44347/View/AddTruyenUser.html" type="button">ĐÓNG GÓP</a>

            <a class="btn btn-info btn-fw" href="https://localhost:44347/View/Login.html" type="button">ĐĂNG XUẤT</a>


        </div><!-- end footer -->
    </header><!-- end header -->

    <section class="main clearfix">
        <div id="ourserv">

        </div>
    </section><!-- end main -->

</body>
</html>